<style>
  @import url('https://fonts.googleapis.com/css2?family=Cardo:ital@1&family=Open+Sans:wght@400;600;700;800&family=Raleway:wght@300;400;700;800&display=swap');
</style>
/* font-family: 'Cardo', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul li{
    list-style-type: none;
}
.container{
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.header_section{
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.header_section .container{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

}
.header-menu .menu{
    display: flex;
}
.header-menu .menu li a{
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    padding: 14px 30px;
    display: flex;
}
/* ------banner section-------- */
.banner-section{
    background-image: url(./../Elements/ActiveBox_Cover.png);
    background-size: cover;
    background-repeat:no-repeat;
    padding-top: 260px;
    padding-bottom: 160px;
}
.banner-section .container h1{
    font-size:65px;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
    color:rgb(255, 255, 255);
    line-height: 68px;
    text-transform: uppercase;
    text-align: center;
}
.banner-section .container P{
    font-size: 22px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    color:rgb(255, 255, 255);
    text-align: center;
    margin-top: 40px;   
    margin-bottom: 80px;
    padding: 0 110px;
}
.banner-section .container a{
    font-size: 13px;
    background-color: rgb(232, 69, 69);
    font-family: 'Raleway', sans-serif;
    padding: 20px 45px;
    color: rgb(255, 255, 255);
    border-radius: 2px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
}
/* <!---------service section-------> */
.service-section{
    padding: 120px 0;
}
.service-section .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 70px;
}
.service-section .container .service-card{
    max-width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.service-section .container .service-card h3{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 14px;
    margin-top: 34px;
    margin-bottom: 26px;
    color: #2D3033;
    text-transform: uppercase;
}
.service-section .container .service-card p{
    text-align: center;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #767B82;
    padding: 0 26px;
}
/* --------Gallery Section---------- */
.gallery-section{
    display: flex;
    flex-wrap: wrap;
    column-gap: 1px;
    row-gap: 1px;
}
.gallery-section .gallery-item{
    max-width: calc(25% - 1px);
    cursor: pointer;
    position: relative;
}
.gallery-section .gallery-item img{
    width: 100%;
    height: 100%;
}
.overlay{
    height: 100%;
    width: 100%;
    /* background: #DA4747; */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    }
.gallery-section .gallery-item:hover .overlay{
    background: rgba(218, 71, 71, 0.7);
}
.gallery-content{
    z-index: 9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    opacity: 0;
    transition: 0.4s all ease-in-out;
}
.gallery-content h3{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
}
.gallery-content p{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
}
.gallery-section .gallery-item:hover .gallery-content{
    opacity: 1;
}
/* ---------------------------Team Section-------------------------- */
.team-section{
    padding: 100px 0;
}
.team-section .container{
    display: flex;
    justify-content: space-between;
}
.team-member{
    max-width: calc(25% - 22.5px);
}
.team-member h3, .team-member p{
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 400;
}
.team-member h3{
    font-size: 22px;
    color: #2D3033;
    margin-top: 30px;
    margin-bottom: 16px;
}
.team-member p:first-of-type{
    font-size: 13px;
    text-transform: uppercase;
    color: #E84545;
}
.team-member p:last-of-type{
    font-size: 14px;
    color: #898E94;
    margin: 30px 0;
    padding-left: 8px;
}
.team-member_social-icon{
    display: flex;
}
.team-member_social-icon a{
    height: 40px;
    width: 40px;
    border: 1px solid #E8ECEE;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-right: 4px;
}
.team-member_social-icon a i{
    color: #C6CACC;
}
/* -------------------------------------Quotes Section------------------------------------ */
.quotes-section{
    background-color: #53354A;


}
.quotes-content{
    display: flex;
   
}
.q-item{
    width: 100%;
}
.quotes-image img{
    width: 100%;
    height: 100%;
}
.quotes-text{
    padding-top: 110px;
    padding-left: 85px;
    align-items: center;
}
.quotes-text p:first-of-type{
    font-size: 36px;
    font-family: 'Cardo', serif;
    font-style: italic;
    color: #ffffff;
    padding-right: 210px;
    
}
.quotes-text p:last-of-type{
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    margin-top: 28px;
}
.indicator{
    display: flex;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: 200px;
    column-gap: 8px;
}
.indicator-item{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #897583;
    
}
.indicator .indicator-item:nth-child(2){    
    background-color: #ffffff;
}
/* --------------------------------------Downlod Section------------------------- */
.download-section .container{
    width: 900px;
    display: block;
    text-align: center;
    margin-bottom: 100px;
    background-color: #ffffff;
}
.download-section{
    padding-top: 80px;
}
.text-area p:first-of-type{
    font-size: 28px;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    
}
.text-area p:last-of-type{
    font-size: 13px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    align-items: center;
    padding-bottom: 20px;
}
.download-section .container .text-area a{
    font-size: 13px;
    background-color: rgb(232, 69, 69);
    font-family: 'Raleway', sans-serif;
    padding: 18px 83px;
    color: rgb(255, 255, 255);
    border-radius: 2px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
}
/* ------------About Secrion--------------- */
.about-section{
    
    background-color: #3A3E64;
    padding-left: 280px;
    padding-right: 80px;
}
.about-section .container{
    padding-top: 70px;
    padding-bottom: 88px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}
.about-item{
    padding-right: 80px;
    padding-left: 100px;
    align-items: center;
    justify-items: center;
    text-align: center;
    
}
.about-item h3{
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
}
.about-item p{
    font-size: 14px;
    color: #757893;
    text-align: center;
   
}
.about-item_social-icon{
    display: flex;
}
.about-item_social-icon a{
    height: 40px;
    width: 40px;
    border: 2px solid #E8ECEE;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-right: 4px;
}
.about-item_social-icon a i{
    color: #C6CACC;
}
.about-item .item-3{
    padding-right: 26px;
    padding-left: 26px;
}
/* ---------------footer section--------- */
.footer-section{
    background-color: #1D1F32;
    padding-top: 29px;
    padding-bottom: 30px;
    
    padding-left: 400px;
    padding-right: 400px;
}
.footer-section .container{
    width: 350px;
    text-align: center;
    padding-top: 29px;
    padding-bottom: 29px;
}

.footer-section .container p{
    color: #808080;
    font-family:'Raleway', sans-serif ; 
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;

}

.footer-section .container i{
    color: red;
    
}
.footer-section .container a{
    color:#E4E4E8;
    font-family: 'Open Sans', sans-serif; 
    font-weight: 400;
    font-size: 14px;
}